$main-background: #102027;
$main-font-color: #ffffff;
$border-color: #80cbc4;
$input-background-color: #62727b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-background;
    color: $main-font-color;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

form{
    margin-top: 150px;


    input{
        padding: 10px 20px;
        font-size: 1.1rem;
        border: 2px solid $border-color;
        border-radius: 10px 0 0 10px;
        background: $input-background-color;
        color: $main-font-color;
    }
    input::placeholder { 
        color: $main-font-color;
    }

    button{
        padding: 10px 20px;
        font-size: 1.1rem;
        position: relative;
        left: -4px;
        background: $input-background-color;
        border: 2px solid $border-color;
        border-radius: 0 10px 10px 0;
        border-left: none;
        color: $main-font-color;
    }
    button:hover{
        cursor: pointer;
    }
}