{% extends 'base.html' %}
{% block content %}
<form action="app.py" method="POST">
    <input type="text" placeholder="Choose city.." name="city">
    <button type="submit">Search</button>
</form>
<div class="city-container">
    <span>&#9928</span>
    <span class="city-temp">27 &#176 C</span>
    <span class="city-name">Rzeszów</span>
    <span class="remove">&#10006</span>
</div>
<div class="city-container">
    <span>&#9928</span>
    <span class="city-temp">35 &#176 C</span>
    <span class="city-name">Warszawa</span>
    <span class="remove">&#10006</span>
</div>
<div class="city-container">
    <span>&#9928</span>
    <span class="city-temp">12 &#176 C</span>
    <span class="city-name">Kraków</span>
    <span class="remove">&#10006</span>
</div>
{% endblock %}