{% extends 'base.html' %}
{% block content %}
<main id="main-container" class="container">
    <form action="{{ url_for('home')}}" method="POST">
        <input type="text" placeholder="Choose a city.." name="city" required>
        <button type="submit">Search</button>
    </form>
    {% if message %}
        <div class="error-message">
            <h3>{{ message }}</h3>
            <br>
            <a href="{{ url_for('home')}}">Go back</a>
        </div>
    {% endif %}
    {% if context %}
        {% for city in context %}
            <div class="city-container">
                <span class="city-temp">{{city.temp}} &#176 C</span>
                <span class="city-name">{{city.city|capitalize}}</span>
                <br>
                <span>
                    <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="Weather icon">
                </span>
                <span>
                    <small>{{city.weather}} | access: {{city.date.strftime('%a, %d %b \'%y, %H:%M')}}</small>
                </span>
                <span class='remove'>
                    <a class="remove-button" href="{{ url_for('delete_city', id=city.id) }}">&#10006</a>
                </span>
            </div>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}