$main-background: #102027;
$modal-background: #10202723;
$main-font-color: #ffffff;
$font-hover: #cfd8dc;
$border-color: #80cbc4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-background;
    color: $main-font-color;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 100px;
    margin-bottom: 100px;

    input{
        padding: 10px 0px 10px 15px;
        font-size: 1rem;
        border: 2px solid $border-color;
        border-radius: 10px 0 0 10px;
        background: $main-background;
        color: $main-font-color;
    }

    input::placeholder { 
        color: $main-font-color;
    }

    button{
        transition: all 0.2s;
        padding: 10px 15px;
        font-size: 1rem;
        position: relative;
        left: -4px;
        background: $main-background;
        border: 2px solid $border-color;
        border-radius: 0 10px 10px 0;
        border-left: none;
        color: $main-font-color;
    }
    
    button:hover{
        transition: all 0.2s;
        cursor: pointer;
        color: $main-background;
        background-color: $border-color;
    }
}

.city-container{
    min-width: 300px;
    margin-bottom: 50px; 
    padding-bottom: 10px;
    padding-top: 8px;
    border-bottom: 2px solid $border-color;
    background-color: #80cbc470;
    border-radius: 3px;

    img{
        height: 30px;
        position: relative;
        top: 10px;
        left: 12px;
    }

    small{
        padding-left: 20px;
        font-size: 0.8rem;
    }

    .city-temp{
        margin-left: 15px;
    }

    .city-name {
        margin-left: 20px;
    }

    .remove {
        float: right;
        padding-right: 10px;
    }

    .remove:hover {
        cursor: pointer;
    }
}

.blur{
    filter: blur(2px);
}


.modal{
    display: none;
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(136, 136, 136, 0.41);
    justify-content: center;
    align-items: center;

    .modal-message{
        width: 300px;
        height: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: $main-background;
        color: $main-font-color;

        button{
        transition: all 0.2s;
        font-size: 1.2rem;
        padding: 5px 10px; 
        background: $main-background;
        border: 2px solid $border-color;
        border-radius: 10px;
        color: $main-font-color;

            a{
            color: $main-font-color;
            text-decoration: none;
            }

            a:hover{
                transition: all 0.2s;
                background: $border-color;
                color: $main-background;
                cursor: pointer;
            }
        }

        button:hover{
            transition: all 0.2s;
            background: $border-color;
            color: $main-background;
            cursor: pointer;
        }

        button:last-child{
            float: right;
        }

        form{
            display: inline;
        }
    }
}