$main-background: #102027;
$modal-background: #10202723;
$main-font-color: #ffffff;
$font-hover: #cfd8dc;
$border-color: #80cbc4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-background;
    color: $main-font-color;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 100px;
    margin-bottom: 100px;

    input{
        padding: 10px 30px 10px 15px;
        font-size: 1rem;
        border: 2px solid $border-color;
        border-radius: 10px 0 0 10px;
        background: $main-background;
        color: $main-font-color;
    }

    input::placeholder { 
        color: $main-font-color;
    }

    button{
        transition: all 0.2s;
        padding: 10px 15px;
        font-size: 1rem;
        position: relative;
        left: -4px;
        background: $main-background;
        border: 2px solid $border-color;
        border-radius: 0 10px 10px 0;
        border-left: none;
        color: $main-font-color;
    }
    
    button:hover{
        transition: all 0.2s;
        cursor: pointer;
        color: $main-background;
        background-color: $border-color;
    }
}

.city-container{
    min-width: 340px;
    margin-bottom: 50px; 
    padding-bottom: 10px;
    padding-top: 8px;
    border-bottom: 2px solid $border-color;
    background-color: #80cbc470;
    border-radius: 3px;

    img{
        height: 30px;
        position: relative;
        top: 10px;
        left: 12px;
    }

    small{
        padding-left: 20px;
        font-size: 0.8rem;
    }

    .city-temp{
        margin-left: 15px;
    }

    .city-name {
        margin-left: 20px;
    }

    .remove {
        float: right;
        padding-right: 10px;

        a{
            transition: all 0.1s;
            color: #061b23bf;
            text-decoration: none;
        }

        a:hover{
            transition: all 0.1s;
            cursor: pointer;
            color: #ffffffbd;
        }
    }

}

.blur{
    filter: blur(2px);
}